title: VAIRL
description: Virtual AI Research Lab
baseurl: ""
url: ""
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

# Languages
languages: ["en", "ru"]
default_lang: "en"

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .gitignore
  - README.md

